/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
   background: url('../images/section-background.png');
}

h1, h2, h3, h4, p, dt, input {
   font-family: 'Droid Sans', sans-serif;
}

.container {
    padding: 48px 0 48px 0;

}

#disclaimer {
    padding: 12px 0px;
}

.main-section.container, .email-section.container {
    background-color: #fff5f5;
}

.header.container {
    background: url('../images/header-background.png');
    -moz-box-shadow: 0 2px 2px #999;
    -webkit-box-shadow: 0 2px 2px #999;
    box-shadow: 0 2px 2px #999;
    margin-bottom: 2px;
}

.gallery.container, .theme-description.container {
    background-color: #ffeded;
}

.theme-description table td:first-child {
    font-weight: bold;
}

.footer.container {
   background: url('../images/section-background.png');
}

.subscribe-section {
    background-color: #fffaf5;
    border: 1px solid #eedcdc;
    padding: 6px 24px;
}

.buy-section {
    background-color: #fffaf5;
    border: 1px solid #eedcdc;
    padding: 24px;
}

.preview-section {
    margin-top: 24px;
}

.header {
    padding: 15px 0 15px 0;
}

.header dl {
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}

.header dt {
    float: left;
    line-height: 32px;
    margin-left: 20px;
    font-size: 16px;
}

.header dt a:hover {
    color: #bb0000;
}

.header a {
    color: #fff;
}

.header a.logo {
    font-family: 'Norican', cursive;
    font-size: 32px;
}

.headline-container {
    display: table; height: 223;
}

.headline {
    display: table-cell; vertical-align: middle;
}

.coming-soon-placeholder {
    height: 240px;
    width: 240px;
    border: 1px dashed #999;
    background-color: #fff5f5;
    text-align: center;
}

.coming-soon-placeholder a {
    font-size: 1.8em;
    color: #666;
    line-height: 240px;
}

.coming-soon-placeholder a:hover {
    color: #333;
}

.options {
    background-color: #eedede;
    padding: 0 15px;
    margin-top: 6px;
    overflow: hidden;
}

.options dl {
    margin-top: 15px;
}

.options dt {
    margin: 0 0 15px 0;
}

.options a {
    font-size: 1em;
    color: #666;

}

.options a:hover {
    color: #333;
}

.github {
    background: url('../images/github-icon.png') left center no-repeat;
    padding-left: 24px;
}

.link {
    background: url('../images/link-icon.png') left center no-repeat;
    padding-left: 24px;
}

.hover-image {
    position: absolute;
    top: 144px;
    left: 15px;
    display: none;
}

.theme, .plugin {
    width: 240px;
    margin-bottom: 20px;
}

.theme-image:hover .hover-image {
    display: block;
}

.plugins {
    margin-top: 24px;
}

.footer dt {
    margin: 0 0 8px 0;
}

.footer dt a {
    color: #777;
}

.footer dt a:hover {
    color: #333;
}

.hover-block {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    display: none;
    height: 30px;
    top: 170px;
    font-size: 1.2em;
    color: #000;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.screenshot {
    width: 300px;
    height: 200px;
}

.screenshot:hover > .hover-block {
    display: block;
}

#lawless-lobsters-full {
    background-image: url('../images/lawless-lobsters-full-thumbnail.png')
}

#lawless-lobsters-tablet {
    background-image: url('../images/lawless-lobsters-tablet-thumbnail.png')
}

#lawless-lobsters-phone {
    background-image: url('../images/lawless-lobsters-phone-thumbnail.png')
}